# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/.vs
/*.csproj
/*.sln
*.swp
*.vcxproj.user

# Unity
/Library
/Logs
/Temp

App/
obj/
*.glb
*.glb.meta
*.obj
*.obj.meta
*.fbx
*.fbx.meta
*.mp4
*.mp4.meta
*.png
*.png.meta